.pink-circle {
    outline: none;
    border: none;
    
    width: 600px;             /* circle size */
    height: 600px;
    border-radius: 50%;       /* makes it a circle */
  
    background: pink;         /* color */
    z-index: -1;              /* behind other content */
  }

  .pink-circle:hover {
    filter: blur(40px);       /* heavy blur */
  }
  
    .back-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: fixed;      /* stays on screen while scrolling */
        bottom: 20px;          /* moved from top to bottom */
        left: 20px;            /* keeps it on the left */
        width: 50px;
        height: 50px;
        font-size: 30px;      /* size of the note */
        background: linear-gradient(to bottom, rgb(44, 44, 255), rgb(135, 131, 157));
        color: aliceblue;
        text-decoration: none;
        border-radius: 50%;   /* makes it circular */
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
        font-size: 15px;
        transition: 0.3s ease;
        cursor: pointer;
        z-index: 100;         /* stays above other elements */
    }
    
    .back-button:hover {
        color: greenyellow;
        transform: scale(1.2); /* grows on hover */
        filter: drop-shadow(0 0 8px greenyellow);
    }

    body {
        background: linear-gradient(to bottom, rgb(196, 244, 239), rgb(225, 248, 51));
    background-repeat: no-repeat;
    background-size: cover;  /* makes gradient/image fill the whole screen */
    }