*{
    margin:5px;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:linear-gradient(to bottom, rgb(232, 146, 18)),rgb(44, 218, 154); 
    font-style:inherit;
    text-transform:lowercase;
    text-align:initial;

}

