/*asterisk means everything on that page will take a new style*/
*{
    margin:0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue; 
}

/*class names*/

.container {
    position: absolute;
    display: flex;
    gap: 100px;

}

.mainbox{
    width: 100px;
    height: 600px;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(44, 44, 255), rgb(135, 131, 157));

    display: flex;
    flex-direction: column;
    align-items: center;   /* centers minibox horizontally */
    position: relative;
    transition: 0.5s ease;
}
.mainbox:hover{
    background: linear-gradient(to bottom, rgb(4, 4, 40), rgb(135, 131, 157));



}
.minibox{
    display: flex;
    justify-content: flex-end;
    background:rgb(135, 131, 157);
    width:20px; 
    height:500px; 
    position: absolute;
    bottom: -490px; 

}

.line{
        width: 20px;                 /* thin = line */
        height: 1130px;
        background: rgb(135, 131, 157);
        flex-shrink: 0; /* prevents flexbox from collapsing it to nothing when space is tight. */
    }


    @keyframes color {
        0% {
        background-color:  rgb(254, 253, 221);

          }
          50% {
        background-color: rgb(209, 253, 142);

          }
          100% {
        background-color: rgb(254, 253, 221);

          }
        

        
      }

   Body {
        animation-name: color;
        animation-duration: 4s;
        animation-iteration-count: infinite;

      }
      
    .s {

            background: none;        /* removes background */
            border: none;            /* removes border */
            padding: 0;              /* removes default padding */
            margin: 0;
            color: rgb(255, 252, 252);
            font-size: 20px;
            font-family: inherit;
            cursor: pointer;         /* keeps it feeling clickable */
            transition: 0.5s ease;
            transform: translateY(30px);

           
     }
         
   
   .s:hover {
    color: greenyellow;
    filter: blur(4px);       /* heavy blur */

}




      
    