/*asterisk means everything on that page will take a new style*/
*{
    margin:0px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue; 
}

/*class names*/



.mainbox1{

    display: inline-block;
    position: relative;
    background:black;
    width:100px;
    height:600px;
    vertical-align: top;
    padding:20px;

}

.mainbox2{

    display: inline-block; 
    position: relative;
    background:black;
    width:100px; 
    height:600px; 
    vertical-align: top;
    padding:20px;
    left: 100px;
   
 
}

.mainbox3{

    display: inline-block; 
    position: relative;
    background:black;
    width:100px; 
    height:600px; 
    vertical-align: top;
    padding:20px;
    left: 200px;
   
 
}

  
}